version: "3.1"
services:
  ytdl-download-bot:
    container_name: ytdl-download-bot
    image: ytdlbot
    build:
      context: ./bot
      args:
        PUID: $PUID
        PGID: $PGID
        UNAME: downloaduser
    restart: always
    environment:
      - BOT_API_TOKEN=$TELEGRAM_BOT_API_TOKEN
      - ADMIN_USERNAME=$TELEGRAM_ADMIN_USERNAME
      - ADMIN_DESC=$TELEGRAM_ADMIN_DESC
      - ADMIN_CHATID=$TELEGRAM_ADMIN_CHATID
      - BOT_LANG=$BOT_LANG
      - PUID=$PUID
      - PGID=$PGID
      - SEARCH_ROOT_PATH=$SEARCH_ROOT_PATH
    volumes:
      - $DOWNLOAD_PATH:/ytdlbot/download
      - $SEARCH_ROOT_PATH:/ytdlbot/searchroot
      - ./bot/db:/ytdlbot/db
  ytdl-service:
    container_name: ytdl-service
    image: ytdl-service
    ports:
      - 8080:8080
    build:
      context: ./ydls
    restart: always
  yt-dlp-service:
    image: ghcr.io/jauderho/yt-dlp:latest
    container_name: ytdl-dlp-service
    restart: always
    volumes:
      - $DOWNLOAD_PATH:/downloads:rw
